{#
Template for an email message sent to confirm an email address.
Variables passed to this template:
    user: SimpleUser\User
    token: Invite token
    url: Forget url
#}

{# The subject line #}
{%- block subject -%}{%- autoescape false -%}
    Forget
{%- endautoescape -%}{%- endblock -%}

{# The HTML message #}
{%- block body_html -%}
    <p>forget token: {{token}}</p>
    <a href="{{url}}">{{url}}</a>
{%- endblock -%}
